/* Reset some default styles */
body, h1, h2, p {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

/* Apply a base font and background color */
body {
  font-family: Arial, sans-serif;
  background-color: white;
}

/* Style the header and navigation */
header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  font-size: 20px; /* Adjust the initial font size */
  transition: height 0.3s ease; /* Add a smooth transition for header height */
}


header.sticky {
  font-size: 20px; /* Adjust the smaller font size */
}

.header-left h1 {
  width: 280px;
  margin-left: 20px; /* Add space between your name and the navigation */
}



nav ul {
  list-style: square;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a{
  display: inline-block;
  padding: 8px 8px;
  color:red;
}

nav ul li.active{
  font-weight: bold;
  background-color:white;
  transition: background-color 0.3s ease;

}


/* Style each section */
section {
  padding: 50px;
  text-align: center;
}




/* Style the home section */
#home {
  background-color: navajowhite;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;


}

/* Style the circular frame */
.photo-frame {
  justify-content: center;
  width: 200px; /* Adjust the width and height of the frame */
  height: 200px; /* Make sure it's a square to achieve a circle */
  border: 5px solid #333; /* Adjust border thickness and color */
  border-radius: 50%; /* Create a circular frame */
  overflow: hidden; /* Hide the overflowing parts of the image */
}

.photo-frame img {
  max-width: 350%;
  max-height: 150%;
  object-fit: cover; /* Maintain image aspect ratio while filling the frame */
}


#multi-column-section {
  background-color: navajowhite;
  column-count: 3;
  column-gap: 20px;
  max-height: 150%;
  column-rule: 1px solid gray;

}

#multi-column-section h2 {
  column-span: all;
  height: 50px;
}

.icon-content i {
  height: 120px;
  align-items: center;
  font-size: 2.5cm;
  color: red;
  cursor: pointer;
}

.icon-content p{
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}



#carousel {
  position: relative; /* Set the position to relative for absolute positioning of arrows */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.slider {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  /* Add styles for the slider container as needed */
}

.slide {
  width: 100%; /* Set the width to 100% to cover the entire carousel */
  height: 400px; /* Adjust the desired height for all slides */
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

}


.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
  align-items: center ;
  width: 95%;
  gap: 50px;
  height: 100%; /* Ensure both sides have the same height */
}

.flex-item-left {
  flex: 1; /* Set the same flex value for both .flex-item-left and .flex-item-right */
  display: flex;
  align-items: center ;
  width: 400px;
  justify-content: center;
}
.flex-item-left h2{
  font-size: 24px;
  color: #333;
  text-align: center;
}

.flex-item-right {
  flex: 1; /* Set the same flex value for both .flex-item-left and .flex-item-right */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px; /* Adjust the width and height of the frame */
  height: 200px; /* Make sure it's a square to achieve a circle */
  border: 5px solid #333; /* Adjust border thickness and color */
  overflow: hidden; /* Hide the overflowing parts of the image */
}

.flex-item-right img{
  max-width: 750%;
  max-height: 750%;
  width: 900px;
  height: 330px;
  object-fit: cover;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);


}


/* Style the arrow icons */
.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #333;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border-radius: 50%;
  /* Add other styles for the arrow buttons as needed */
}

.prev-btn {
  left: 20px; /* Adjust the distance from the left edge of the section */
}

.next-btn {
  right: 20px; /* Adjust the distance from the right edge of the section */
}





#portfolio {
  background-color: #333;
  color: #fff;
  width: 100%;  /* or 100%, or any other desired value */
  height: 480px; /* or any other desired value */
  justify-content: center; /* Center items horizontally */
  align-items: center;     /* Center vertically */
}
/* Style for portfolio items */
.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Set three items per row */
  justify-content: center; /* Center items horizontally */
  gap: 80px;
}

.portfolio-item {
  display: flex;
  position: relative;
  cursor: pointer;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
}

.portfolio-item img {
  width: 100%;
  height: auto;
  align-items: center;
  transition: transform 0.2s ease;
}

.portfolio-item img:hover {
  transform: scale(1.1); /* Scale up the image on hover */
}

.portfolio-item i {
  align-items: center;
  font-size: 3cm;
  color: red;
  cursor: pointer;
}





/* Style for modal buttons */
.modal-btn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* Style for modals (hidden by default) */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  justify-content: center;
  align-items: center;
}



/* Style for modal content */
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  animation: slideIn 0.3s forwards;
  position: relative;
}

/* Style for the full-size image within the modal */
.modal-content img {
  position: center;
  max-width: 100%;
  max-height: 80vh; /* Limit the image height to 80% of the viewport height */
  object-fit: contain; /* Maintain the image's aspect ratio */
}

/* Close button in the modal */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}





#contact {
  background-color: navajowhite;
  color: #333;
}

.social-icons i {
  align-items: center;
  font-size: 3cm;
  color: green;
  cursor: pointer;
}

/* Style the footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

/* Style the section with a fixed background image */
#background-image {
  background-image: url('../assets/NY.jpg'); /* Replace 'your-image.jpg' with your image path */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  color: black; /* Text color for the content over the image */
  text-align: center;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center;     /* Center content vertically */
}

/* Style the content within the section */
.background-image-content {
  max-width: 800px; /* Limit the content width */
  margin: 0 auto; /* Center-align the content horizontally */
  text-align: center; /* Center-align the text */
  padding: 50px 0; /* Add vertical padding to create space for content */
}

/* Style the text within the section */
.background-image-content h2 {
  font-size: 32px;
}

.background-image-content p {
  font-size: 18px;
}




/* CSS for Video Background Section */
#about {
  position: relative; /* Relative positioning to contain the header */
  width: 100%;
  height: 100vh; /* Adjust the height as needed */
  overflow: hidden; /* Hide video overflow */
}

/* CSS for Video */
#about video {
  position: absolute; /* Absolute positioning to cover the entire section */
  top: 0;
  left: 0;
  width: 95%;
  height: 100%;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
  object-fit: cover; /* Cover the entire section */
}

/* CSS for Header */
#about header {
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
  position: absolute; /* Absolute positioning within the section */
  top: 50%; /* Vertically center the header */
  left: 50%; /* Horizontally center the header */
  transform: translate(-50%, -50%); /* Center the header */
  color: #fff; /* Text color */
  text-align: center;
  z-index: 2; /* Place the header above the video */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  padding: 20px;
}

/* Internship Experience Section */
#intern-experience {
  background-color:  navajowhite;
  padding: 20px;
  text-align: center;
  display: flex; /* Flex container */
  flex-direction: row; /* Arrange items vertically */
}

#intern-experience h2 {
  color: #333;
  margin-bottom: 15px;
}

.internship {
  display: flex; /* Flex container */
  flex-direction: column; /* Arrange items vertically */
  align-items: center; /* Center items horizontally */
  background-color:  navajowhite;
  margin: 10px auto;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  max-width: 1000px;
}


.uiuc-theme {
  color: #13294b; /* UIUC Blue */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.internship-title {
  color: #e84a27; /* UIUC Orange */
  font-size: 1.2em;
  margin-bottom: 10px;
}

.internship-duration {
  color: #0275d8; /* UIUC Blue */
  font-style: italic;
  margin-bottom: 15px;
}

.internship-description {
  color: #333;
  font-size: 1em;
  margin-bottom: 10px;
  line-height: 1.6;
}




.internship .resume-preview {
  width: 100%; /* Full width of the container */
  text-align: center;
}

.internship .resume-preview iframe {
  border: none;
  width: 100%;
  max-width: 100px; /* Adjust to fit your content */
  height: 400px; /* Adjust height as needed */
}

/* Resume Preview Section */
.resume-preview {
  margin: 20px auto;
  padding: 20px;
  max-width: 1000px;
  text-align: center;
}

.resume-preview h3 {
  margin-bottom: 15px;
  color: #333;
}

.resume-preview a {
  display: inline-block;
  margin-top: 10px;
  background-color: #0275d8;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.resume-preview a:hover {
  background-color: #0256a5;
}



